/*Footer*/
.footer {
    @include size(100vw, fit-content);
    bottom: 0;
    background-image: radial-gradient(circle at 43.84% -20.44%, #8bffff 0, #7dfff9 16.67%, #73f3eb 33.33%, #6cd8d8 50%, #68bdc3 66.67%, #64a7af 83.33%, #61939d 100%);
    margin-bottom: -5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer__nav {
        overflow: hidden;
        padding: 0.5rem;
        @include size(fit-content, fit-content);
        font-size: medium;
        @include font($my-font, 2em, bolder);
    }

    a:link, a:visited {
        color: black;
        text-decoration: none; 
    }

    .redes {
        margin-top: 2rem;
        margin-right: 2rem;

        ul {
            font-size: 1em;
            font-weight: bolder;
    
            li {
                padding: 0.5rem;
                font-size: 0.8em;
                list-style: none;
            }
        }
    }    
    .copyright {
        text-align: center;
        margin-top: 10rem;
    }
}

/*Responsive*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .footer {
        @include size(100vw, fit-content);
    }    
}
@media only screen and (min-device-width: 475px) and (max-device-width: 812px) {
    .footer {
        @include size(100vw, fit-content);
        .footer__nav {
            overflow: hidden;
            padding: 0.5rem;
            @include size(fit-content, fit-content);
            font-size: 1.2em;
        }
        .redes {
            margin-top: 3rem;
            margin: 0.5rem;
        
            ul {
                font-size: 0.8em;
        
                li {
                font-size: 1em;
                }
            }
        }
        .copyright {
            font-size: 0.8em;
        }
    }   
}    

@media only screen and (min-device-width: 360px) and (max-device-width: 470px) {
    .footer {
        @include size(100vw, fit-content);
        .footer__nav {
            overflow: hidden;
            padding: 0.5rem;
            @include size(fit-content, fit-content);
            font-size: 0.8em;
        }
        .redes {
            margin-top: 2rem;
            margin: 0.4rem;
        
            ul {
                font-size: 0.7em;
            }

            li img {
                height: 20px;
                width: 20px;
            }
        }
        .copyright {
            font-size: 0.6em;
        }
    }   
}    