.main-error {
    @include size(100vw, fit-content);
    background: #00E7DC;
    margin:0; 
    padding:0; 
    
    .main-error__titulo {
        @include font($my-font, 5em, bolder);
        color: #fff;
        text-align: center;
        padding: 2rem 0 0;
        opacity: 2;
    }

    svg {  
    left:0;
    height: 100%;
    width:100%
    }
}    

@media only screen and (min-device-width: 475px) and (max-device-width: 812px) {
    .main-error {
        @include size(100vw, fit-content);

        .main-error__titulo {
            font-size: 4em;
        }
    }    
}    

@media only screen and (min-device-width: 360px) and (max-device-width: 470px) {
    .main-error {
        @include size(100vw, fit-content);

        .main-error__titulo {
            font-size: 3em;
        }
    }    
}